* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.page-heading{
  display: flex;
  margin: 100px auto 75px auto;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.page-body{
  margin: 30px  auto 80px auto;
  font-size: 20px;
  width: 60%;
  text-align: justify;
}

.about-wrap{
  justify-content: center;

}

.aboutpic{
  width:100%;
}


.da-table{
margin:15px auto 100px auto;
width: 60%;
}


th, td {
    padding: 2.5px 10px;
}

th {
    text-align:justify;
}



.services {
  
  /*background-image: url('/d4c-home/public/images/img-2.jpg');*/
  background-image: url('https://wallpaperaccess.com/full/211836.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  
  font-size: 100px;
}

.products {
  /*background-image: url('/d4c-home/public/images/img-1.jpg');*/
  background-image: url('https://wallpapercave.com/wp/wp8638929.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  /*background-image: url('/d4c-home/public/images/img-9.jpg');*/
  background-image: url('https://wallpaperaccess.com/full/247679.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
